<a href="https://colab.research.google.com/github/parksangau/colab/blob/main/0102_python_controlflow_input_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 조건문
### if
* https://docs.python.org/ko/3/tutorial/controlflow.html#if-statements

In [ ]:
# 숫자를 입력받아 음수와 양수 여부를 출력합니다.
x = int(input("Please enter an integer: "))

if x > 0:
    print("양수")
elif x == 0:
    print("제로")
else :
    print("음수")

Please enter an integer: 0
제로

## 반복문
### for
* https://docs.python.org/ko/3/tutorial/controlflow.html#for-statements

In [ ]:
# "월화수목금토일" 을 리스트 형태로 변경합니다.
weekday = []
for w in "월화수목금토일":
    weekday.append(w)
    print(w, end=", ")

월, 화, 수, 목, 금, 토, 일,

In [ ]:
# 리스트 안에 있는 값을 순회하며 반복문으로 출력해 보세요.
weekday = ['월', '화', '수', '목', '금', '토', '일']
for 변수 in weekday:
    print(변수, end=", ")

월, 화, 수, 목, 금, 토, 일,

### range() 함수
* https://docs.python.org/ko/3/tutorial/controlflow.html#the-range-function

* range([초기치, ]최종치[, 증가치]) => [ ]안의 내용은 생략이 가능합니다.  
* 초기치를 생략하면 0이, 증가치를 생략하면 1이 기본값으로 사용됩니다.
* range()함수는 초기치, 최종치, 증가치에 따른 숫자 리스트를 만들어 줍니다.  
* range(0, 10, 1) == range(10)입니다.

In [ ]:
# range로 범위를 지정해 반복문을 수행할 수 있습니다.
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# f-string == format string
a = 1
f"?page={a}"

'?page=1'

In [ ]:
# f-string 을 사용하여 특정 URL 페이지를 만들어 볼 수 있습니다.
# 예) https://naver.com/?page=1
for num in range(1, 6):
    print(f"https://naver.com?page={num}")

https://naver.com?page=1
https://naver.com?page=2
https://naver.com?page=3
https://naver.com?page=4
https://naver.com?page=5

In [ ]:
# 리스트를 변수로 받아 순회할 수도 있지만 리스트의 길이만큼 range 값을 생성하여 순회할 수도 있습니다.
for i in range(len(weekday)):
    print(i, weekday[i])

0 월
1 화
2 수
3 목
4 금
5 토
6 일

In [ ]:
# enumerate 가 조금 더 pythonic 한 방법이다.
# enumerate 를 사용하면 인덱스 번호와 값을 함께 가져올 수 있습니다.
for i, val in enumerate(weekday):
    print(i, val)

0 월
1 화
2 수
3 목
4 금
5 토
6 일

### 조건문과 반복문 함께 사용하기

In [ ]:
3 % 2

1

In [ ]:
4 % 2

0

In [ ]:
# range로 값을 순회하며 짝수일 때는 "짝수"를 홀수일 때는 "홀수"를 출력하게 합니다.
for i in range(1, 11):
    if i % 2 == 0:
        print(i, " 짝수")
    else:
        print(i, " 홀수")
print("*이 메세지는 for문 밖에서 출력됩니다.")

1  홀수
2  짝수
3  홀수
4  짝수
5  홀수
6  짝수
7  홀수
8  짝수
9  홀수
10  짝수
*이 메세지는 for문 밖에서 출력됩니다.

### while 문
* 조건문이 참인 동안 순회하며 실행되기 때문에 특정 조건까지 반복문을 수행하고자 할때 사용합니다.
* 예를 들어 특정 웹페이지를 순회한다면 내용이 없을 때까지 순회하라는 반복문을 구현할 수 있습니다.

In [ ]:
# 변수의 초깃값을 부여하고 특정 변수값이 되면 종료하도록 합니다.
i = 0
while True:
    if i > 6:
        break
    i = i + 1
    print(i)

1
2
3
4
5
6
7

## 함수
* https://docs.python.org/ko/3/tutorial/controlflow.html#defining-functions

In [ ]:
# split_phone 이름을 갖는 전화번호 국번을 반환하는 함수를 만듭니다.
num = "02-321-1234"
num.split("-")[0]

'02'

In [ ]:
# def == define

def split_phone_num(num):
    return num

split_phone_num(num.split("-")[0])

'02'

In [ ]:
# 문자열 전처리로 월을 반환하는 함수 만들기
date = "2022년 08월 22일"

In [ ]:
# 함수명 find_month 
# """(따옴표 3개) 입력 -> 도움말에 나옴

def find_month(date):
    """
    반환값이 08이 되도록 함수를 만들어 봅시다!
    """
    return date.split()[1].replace("월", "")

find_month(date)

'08'

## 함수의 도움말 보기

In [ ]:
# split_phone?
find_month?

In [ ]:
# split_phone??
find_month??

## 응용1
* http://data.seoul.go.kr/dataList/OA-15248/F/1/datasetView.do
* 월별 대여현황에서 연령대는 코드로 제공됩니다. 해당 코드를 값과 매핑하기 위해 딕셔너리 형태로 가공해 보는 연습을 합니다.

In [ ]:
age_code = """
10대 : AGE_001
20대 : AGE_002
30대 : AGE_003
40대 : AGE_004
50대 : AGE_005
60대 : AGE_006
70대 : AGE_007
기타 : AGE_008
( 비회원, 외국인, 그 이상 등 )"""
age_code

'\n10대 : AGE_001\n20대 : AGE_002\n30대 : AGE_003\n40대 : AGE_004\n50대 : AGE_005\n60대 : AGE_006\n70대 : AGE_007\n기타 : AGE_008\n( 비회원, 외국인, 그 이상 등 )'

In [ ]:
age_dict = {}
for age in age_code.split("\n"):
    print(age.split(":"))

['']
['10대 ', ' AGE_001']
['20대 ', ' AGE_002']
['30대 ', ' AGE_003']
['40대 ', ' AGE_004']
['50대 ', ' AGE_005']
['60대 ', ' AGE_006']
['70대 ', ' AGE_007']
['기타 ', ' AGE_008']
['( 비회원, 외국인, 그 이상 등 )']

In [ ]:
age_dict = {}
for age in age_code.split("\n"):
    age_split = age.split(":") 
    if len(age_split) == 2:
        key = age_split[1].strip()
        val = age_split[0].strip()
        age_dict[key] = val
age_dict

{'AGE_001': '10대',
 'AGE_002': '20대',
 'AGE_003': '30대',
 'AGE_004': '40대',
 'AGE_005': '50대',
 'AGE_006': '60대',
 'AGE_007': '70대',
 'AGE_008': '기타'}

## 응용2 - 딕셔너리의 결과가 아래와 같이 나오도록 아래의 문자열을 변경해 보세요.
```
{'경기': '031',
'강원': '033',
'충남': '041',
'충북': '043',
'경북': '054',
'경남': '055',
'전남': '061',
'전북': '063'}
```

In [ ]:
# 아래의 문자를 딕셔너리 형태로 변경하기
phone = ">경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063"
# ">" 문자를 기준으로 문자열을 나눕니다. => split() 으로 리스트로 변환
# for문으로 리스트를 반복해서 phone_dict 에 채웁니다.
phone.split(">")

['',
 '경기 031 ',
 '강원 033 ',
 '충남 041 ',
 '충북 043 ',
 '경북 054 ',
 '경남 055 ',
 '전남 061 ',
 '전북 063']

In [ ]:
phone_dict = {}
for phone_split in phone.split(">"):
    ps = phone_split.split()
    if len(ps) == 2:
        key = ps[0]
        val = ps[1]
        phone_dict[key] = val

In [ ]:
phone_dict

{'경기': '031',
 '강원': '033',
 '충남': '041',
 '충북': '043',
 '경북': '054',
 '경남': '055',
 '전남': '061',
 '전북': '063'}